.email-container mat-form-field+mat-form-field,
.password-container mat-form-field+mat-form-field {
    margin-left: 8px;
    width: 100%;
}

.password-right-align {
    text-align: right;
}

input.password-right-align::-webkit-outer-spin-button,
input.password-right-align::-webkit-inner-spin-button {
    display: none;
}

input.password-right-align {
    -moz-appearance: textfield;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    height: 100vh;
    padding: 20px;
    color: #fff;
}

.card {
    max-width: 400px;
    width: 100%;
    background-color: whitesmoke;
    color: #fff;
    border: 1px solid #333;
}

.custom-btn {
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #3700b3;
}

.btn {
    border: none;
    background: transparent;
}

.all-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
