/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography h3 {
    margin: 0;
}

.success-snackbar {
    background-color: #4caf50;
    color: white;
}

.error-snackbar {
    background-color: #f44336;
    color: white;
}

.background-img {
    background-image: url('./assets/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
